<div class="text-center">
  <h1><%= @project.name %></h1>
</div>

<div class="container">
    <div class="row col-md-12">
    <table class="table table-striped custab">
    <thead>
      <%= link_to("新建任务", new_team_project_todo_path(@team, @project), class:"btn btn-primary btn-xs pull-right") %>
      <%= render_all_project_members(current_user, @team, @project) %>
        <tr>
            <th>任务名称</th>
            <th>任务描述</th>
            <th>任务状态</th>
            <th>任务所有人</th>
            <th>截止日期</th>
            <th class="text-center"></th>
        </tr>
    </thead>
        <% @todos.each do |todo| %>
          <tr>
            <th><%= link_to(todo.title, team_project_todo_path(@team, @project, todo)) %></th>
            <th><%= todo.description %></th>
            <th><%= render_todo_state(todo) %></th>
            <th><%= render_todo_assignee(todo) %></th>
            <th><%= render_todo_deadline(todo) %></th>
            <th>
              <% if current_user %>
                <%= render_todo_finish(@team, @project, todo) %>
                <%= render_todo_reopen(@team, @project, todo) %>
                <%= render_todo_comment(@team, @project, todo) %>
                <%= render_todo_delete(@team, @project, todo) %>
                <%= render_todo_edit(@team, @project, todo) %>
                <%= render_todo_run(@team, @project, todo) %>
                <%= render_todo_pause(@team, @project, todo) %>
                <%= render_todo_recover(@team, @project, todo) %>
              <% end %>
            </th>
          </tr>
        <% end %>
    </table>
    </div>
</div>
