<div class="text-center">
  <h1><%= @project.name %></h1>
</div>

<div class="container">
    <div class="row col-md-12">
    <table class="table table-striped custab">
    <thead>
      <%= link_to("新建任务", new_team_project_todo_path(@team, @project), class:"btn btn-primary btn-xs pull-right") %>
        <tr>
            <th>任务名称</th>
            <th>任务描述</th>
            <th>任务状态</th>
            <th>任务所有人</th>
            <th>完成时间</th>
            <th class="text-center"></th>
        </tr>
    </thead>
        <% @todos.each do |todo| %>
          <tr>
            <th><%= todo.title  %></th>
            <th><%= todo.description %></th>
            <th></th>
            <th></th>
            <th></th>
            <th>
              <%= link_to("编辑", edit_team_project_todo_path(@team, @project, todo), class:"btn btn-danger btn-xs") %>
            </th>
          </tr>
        <% end %>
    </table>
    </div>
</div>
